<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head.ejs') %>
    <link rel='stylesheet' href='css/default.css' type='text/css'>
  </head>
  <body>
    <%- include('../../partials/navbar.ejs') %>
    <h1>User Data</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID Number</th>
          <th scope="col">Username</th>
          <th scope="col">Total Upload</th>
          <th scope="col">Last Submit</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < dataUser.length; i++) { %>
          <tr>
            <td><%= dataUser[i].id %></td>
            <td><%= dataUser[i].username %></td>
            <td><%= dataUser[i].total_upload %></td>
            <td><%= dataUser[i].last_submit %></td>
            <td><button class="dashboardButton" onclick="window.location.href = `/dashboard/user/<%= dataUser[i].id %>`">User</button></td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </body>
</html>